{% extends 'layouts/base.html' %}

{% block content %}

	<h1>Quienes somos - About</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente autem magnam dolores ullam quia saepe voluptatibus. Sint quo pariatur libero nulla iste tenetur laborum autem quam, molestiae perferendis asperiores provident facere iusto commodi officia. Quos ratione commodi excepturi dolorem, odit, est minus fugiat exercitationem cum fuga aliquam, voluptatem dignissimos voluptatibus accusamus doloremque delectus iure architecto perferendis omnis dolorum suscipit veritatis laudantium. Alias facilis possimus voluptates autem, facere cumque ducimus corporis at? Sit sint voluptas optio sequi, voluptates alias dolore laudantium modi voluptatem! Consequuntur obcaecati ipsa, eaque culpa repudiandae repellat quae natus explicabo tempora, eligendi ut aliquid quidem voluptas quam!</p>

{% endblock %}

