{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="content-container">
    <h1>Inicio de gestion social - Index</h1>
    
    <!-- <div class="image-container">
        <img src="{% static 'Logo Bienestar.jpg' %}" alt="Logo Bienestar" class="centered-image">
    </div> -->
    
    <div class="text-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum, officia modi eligendi voluptatem dolor 
        aliquam doloremque pariatur perspiciatis cumque, nesciunt laudantium magni et fuga cupiditate. Corrupti pariatur 
        quidem ea illo saepe aspernatur minus deleniti debitis adipisci inventore cum iste, laborum laudantium, dolores 
        cupiditate earum voluptatem tempora praesentium deserunt? Sapiente itaque iure officia. Magni repellat delectus 
        officiis deleniti eaque, minima reiciendis iste ullam facilis laudantium. Suscipit quis, porro, facilis itaque 
        repudiandae, ducimus doloribus vitae quam dolorum qui incidunt neque temporibus error.
    </div> 
</div>
{% endblock %}
