{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="content-container container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Bienvenidos a Gestión Social - Sistema de Salud del Maule</h1>
        </div>
    </div>
    
    <div class="image-container text-center">
        <img src="{% static 'Logo Bienestar.jpg' %}" alt="Logo Bienestar" class="img-fluid" style="max-width: 200px;">
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-description mt-4">
                <h2 class="text-center mb-3">Misión</h2>
                <p class="text-justify">
                    Nuestra misión es promover el bienestar integral de los funcionarios del Servicio de Salud Maule, 
                    brindando apoyo en la conciliación de la vida laboral y familiar, ofreciendo servicios de bienestar 
                    y fomentando el cuidado infantil. Trabajamos día a día para mejorar la calidad de vida de nuestros 
                    colaboradores, facilitando su desarrollo personal y profesional dentro de un entorno saludable y equilibrado.
                </p>

                <h2 class="text-center mb-3">Visión</h2>
                <p class="text-justify">
                    Ser una unidad referente en la implementación de políticas de bienestar laboral y social, creando 
                    espacios donde nuestros funcionarios puedan desarrollarse plenamente, integrando de manera armónica 
                    sus responsabilidades laborales con su vida personal y familiar. Aspiramos a que nuestra gestión 
                    sirva como modelo de prácticas exitosas, donde la salud, el cuidado y el bienestar de cada persona 
                    sean una prioridad en todas las decisiones que tomamos.
                </p>

                <h2 class="text-center mb-3">Objetivos</h2>
                <p class="text-justify">
                    <strong>Conciliación trabajo y familia:</strong> Brindar herramientas y estrategias que permitan a los 
                    funcionarios equilibrar su vida personal y laboral, a través de programas de apoyo, flexibilidad horaria 
                    y asesoramiento. Promover la creación de un entorno donde el trabajo no interfiera con las responsabilidades 
                    familiares, sino que ambas áreas puedan coexistir en armonía.
                </p>
                <p class="text-justify">
                    <strong>Cuidado infantil:</strong> Facilitar el acceso a servicios de cuidado infantil que garanticen la 
                    seguridad y el desarrollo integral de los hijos de nuestros funcionarios. Aseguramos un ambiente donde los 
                    niños puedan crecer felices y seguros, mientras sus padres se concentran en sus labores con tranquilidad y 
                    confianza en que sus hijos están en las mejores manos.
                </p>
                <p class="text-justify">
                    <strong>Servicio de bienestar:</strong> Proporcionar una amplia gama de servicios y beneficios diseñados para 
                    apoyar la salud física, mental y emocional de nuestros funcionarios. Desde programas de salud, recreación, 
                    hasta orientación psicológica y asistencia social, nuestro objetivo es garantizar que cada colaborador 
                    cuente con las herramientas necesarias para enfrentar los desafíos personales y laborales que puedan surgir.
                </p>
                
                <p class="text-justify">
                    En conjunto, estas áreas de trabajo buscan generar un impacto positivo en la vida de los funcionarios, 
                    asegurando que su bienestar esté siempre en el centro de nuestras acciones. Como departamento, nos comprometemos 
                    a seguir evolucionando y adaptándonos a las necesidades cambiantes de nuestra comunidad, fortaleciendo 
                    constantemente los lazos de cooperación, apoyo y respeto mutuo.
                </p>
            </div> 
        </div>
    </div>
</div>
{% endblock %}

